/* Color Theme Swatches in Hex */
$Smooth1-hex: #f294e3;
$Smooth2-hex: #f2acee;
$Smooth3-hex: #ae9ad9;
$Smooth4-hex: #73a9d9;
$Smooth5-hex: #a0d3f2;

/* Color Theme Swatches in Hex */
$Abstract1-hex: #324fa6;
$Abstract2-hex: #04b2d9;
$Abstract3-hex: #80ddf2;
$Abstract4-hex: #f2cb05;
$Abstract5-hex: #f2b705;
